openapi: 3.0.3
info:
  title: Banking Tools API
  version: "1.0.0"
  description: |
    API for banking operations that can be used by a Bedrock Agent.
    This API provides tools for managing bank accounts, beneficiaries, and processing payments.

servers:
  - url: https://cteybj63ywtlxehc7xghotyqqa0eckka.lambda-url.us-west-2.on.aws
    description: Lambda Function URL endpoint

components:
  schemas:
    AccountType:
      type: string
      enum: [checking, savings, credit]
      description: Type of bank account

    Account:
      type: object
      required:
        - account_id
        - type
        - balance
        - currency
        - created_at
      properties:
        account_id:
          type: string
          format: uuid
          description: Unique account identifier
        type:
          $ref: '#/components/schemas/AccountType'
        balance:
          type: number
          format: float
          description: Current account balance
        currency:
          type: string
          pattern: "^[A-Z]{3}$"
          description: Account currency code (3 letters)
        created_at:
          type: string
          format: date-time
          description: Account creation timestamp

    PaymentStatus:
      type: string
      enum: [pending, completed, failed, cancelled, scheduled]
      description: Status of a payment

    PaymentType:
      type: string
      enum: [transfer, bill_payment, wire_transfer, ach, card_payment]
      description: Type of payment

    Payment:
      type: object
      required:
        - payment_id
        - amount
        - currency
        - beneficiary_id
        - status
        - type
        - created_at
      properties:
        payment_id:
          type: string
          format: uuid
          description: Unique payment identifier
        amount:
          type: number
          format: float
          minimum: 0
          description: Payment amount
        currency:
          type: string
          pattern: "^[A-Z]{3}$"
          description: Payment currency code
        beneficiary_id:
          type: string
          format: uuid
          description: ID of the beneficiary receiving the payment
        status:
          $ref: '#/components/schemas/PaymentStatus'
        type:
          $ref: '#/components/schemas/PaymentType'
        scheduled_date:
          type: string
          format: date-time
          nullable: true
          description: Scheduled date for the payment
        created_at:
          type: string
          format: date-time
          description: Payment creation timestamp
        completed_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the payment was completed

    Beneficiary:
      type: object
      required:
        - beneficiary_id
        - name
        - account_number
        - bank_code
        - created_at
      properties:
        beneficiary_id:
          type: string
          format: uuid
          description: Unique beneficiary identifier
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Beneficiary name
        account_number:
          type: string
          minLength: 1
          maxLength: 50
          description: Beneficiary's account number
        bank_code:
          type: string
          minLength: 1
          maxLength: 20
          description: Bank code/identifier
        created_at:
          type: string
          format: date-time
          description: Beneficiary creation timestamp

paths:
  /list_accounts:
    post:
      summary: List all accounts
      description: Retrieve a list of all bank accounts
      operationId: listAccounts
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  messageVersion:
                    type: string
                    example: "1.0"
                  response:
                    type: object
                    properties:
                      actionGroup:
                        type: string
                        example: "toollist"
                      apiPath:
                        type: string
                        example: "/list_accounts"
                      httpMethod:
                        type: string
                        example: "POST"
                      httpStatusCode:
                        type: integer
                        example: 200
                      responseBody:
                        type: object
                        properties:
                          application/json:
                            type: object
                            properties:
                              body:
                                type: string
                                description: JSON string containing the response data
                                example: '{"accounts":[{"account_id":"acc_001","type":"checking","balance":2500.5,"currency":"USD","created_at":"2024-03-20T10:00:00Z"}]}'
        '500':
          description: Error response
          content:
            application/json:
              schema:
                type: object
                properties:
                  messageVersion:
                    type: string
                    example: "1.0"
                  response:
                    type: object
                    properties:
                      actionGroup:
                        type: string
                        example: "toollist"
                      apiPath:
                        type: string
                        example: "/list_accounts"
                      httpMethod:
                        type: string
                        example: "POST"
                      httpStatusCode:
                        type: integer
                        example: 500
                      responseBody:
                        type: object
                        properties:
                          application/json:
                            type: object
                            properties:
                              body:
                                type: string
                                description: JSON string containing the error information
                                example: '{"error":"Internal server error","message":"Failed to retrieve accounts"}'

  /create_account:
    post:
      summary: Create a new bank account
      description: Creates a new bank account with specified details
      operationId: createAccount
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - currency
              properties:
                account_id:
                  type: string
                  format: uuid
                  description: Unique account identifier (optional, will be generated if not provided)
                type:
                  $ref: '#/components/schemas/AccountType'
                balance:
                  type: number
                  format: float
                  minimum: 0
                  default: 0.0
                  description: Initial account balance
                currency:
                  type: string
                  pattern: "^[A-Z]{3}$"
                  description: Account currency code
                created_at:
                  type: string
                  format: date-time
                  description: Account creation timestamp (optional, will use current time if not provided)
      responses:
        '200':
          description: Account created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'

  /list_payments:
    post:
      summary: List all payments
      description: Retrieve a list of all payments, optionally filtered by beneficiary
      operationId: listPayments
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                beneficiary_id:
                  type: string
                  format: uuid
                  description: Optional beneficiary ID to filter payments
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  messageVersion:
                    type: string
                    example: "1.0"
                  response:
                    type: object
                    properties:
                      actionGroup:
                        type: string
                        example: "toollist"
                      apiPath:
                        type: string
                        example: "/list_payments"
                      httpMethod:
                        type: string
                        example: "POST"
                      httpStatusCode:
                        type: integer
                        example: 200
                      responseBody:
                        type: object
                        properties:
                          application/json:
                            type: object
                            properties:
                              body:
                                type: string
                                description: JSON string containing the response data
                                example: '{"payments":[{"payment_id":"pay_001","amount":1000.00,"currency":"USD","beneficiary_id":"ben_001","status":"completed","type":"transfer","created_at":"2024-03-20T10:00:00Z","completed_at":"2024-03-20T10:01:00Z"}]}'

  /initiate_payment:
    post:
      summary: Initiate a payment
      description: Initiates a new payment to a beneficiary
      operationId: initiatePayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
                - currency
                - beneficiary_id
                - type
              properties:
                payment_id:
                  type: string
                  format: uuid
                  description: Unique payment identifier (optional, will be generated if not provided)
                amount:
                  type: number
                  format: float
                  minimum: 0
                  description: Payment amount
                currency:
                  type: string
                  pattern: "^[A-Z]{3}$"
                  description: Payment currency code
                source_account_id:
                  type: string
                  format: uuid
                  description: ID of the payer doing the payment
                beneficiary_id:
                  type: string
                  format: uuid
                  description: ID of the beneficiary receiving the payment
                status:
                  $ref: '#/components/schemas/PaymentStatus'
                  default: pending
                type:
                  $ref: '#/components/schemas/PaymentType'
                scheduled_date:
                  type: string
                  format: date-time
                  description: Scheduled date for the payment (optional)
                created_at:
                  type: string
                  format: date-time
                  description: Payment creation timestamp (optional, will use current time if not provided)
                completed_at:
                  type: string
                  format: date-time
                  description: Timestamp when the payment was completed (optional)
      responses:
        '200':
          description: Payment initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'

  /list_beneficiaries:
    post:
      summary: List all beneficiaries
      description: Retrieve a list of all beneficiaries
      operationId: listBeneficiaries
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  messageVersion:
                    type: string
                    example: "1.0"
                  response:
                    type: object
                    properties:
                      actionGroup:
                        type: string
                        example: "toollist"
                      apiPath:
                        type: string
                        example: "/list_beneficiaries"
                      httpMethod:
                        type: string
                        example: "POST"
                      httpStatusCode:
                        type: integer
                        example: 200
                      responseBody:
                        type: object
                        properties:
                          application/json:
                            type: object
                            properties:
                              body:
                                type: string
                                description: JSON string containing the response data
                                example: '{"beneficiaries":[{"beneficiary_id":"ben_001","name":"John Doe","account_number":"1234567890","bank_code":"BOA123","created_at":"2024-03-20T10:00:00Z"}]}'

  /create_beneficiary:
    post:
      summary: Create a new beneficiary
      description: Creates a new beneficiary with specified details
      operationId: createBeneficiary
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - account_number
                - bank_code
              properties:
                beneficiary_id:
                  type: string
                  format: uuid
                  description: Unique beneficiary identifier (optional, will be generated if not provided)
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  description: Beneficiary name
                account_number:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: Beneficiary's account number
                bank_code:
                  type: string
                  minLength: 1
                  maxLength: 20
                  description: Bank code/identifier
                created_at:
                  type: string
                  format: date-time
                  description: Beneficiary creation timestamp (optional, will use current time if not provided)
      responses:
        '200':
          description: Beneficiary created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary' 